@font-face {
  font-family: 'Inter-ui';
  src: url('/fonts/inter-ui-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ui';
  src: url('/fonts/inter-ui-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ui';
  src: url('/fonts/inter-ui-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ui';
  src: url('/fonts/inter-ui-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ui';
  src: url('/fonts/inter-ui-extra-bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}



#html {
  background-color: #0e0e13;
  scroll-behavior: smooth;
  scroll-padding-top: 24px;
}


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* thumb color */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* hover color */
}

/* Firefox */
* {
  scrollbar-width: thin;        /* "auto" | "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb | track */
}